flows.json
[
    {
        "id": "e7f7c24acc134af9",
        "type": "tab",
        "label": "Processos Automaticos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2725fd03b335afd",
        "type": "tab",
        "label": "Processos Privados",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1c0f3e5e3128179",
        "type": "tab",
        "label": "legado",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3ed13a0582858ba0",
        "type": "subflow",
        "name": "loop",
        "info": "",
        "category": "customizados",
        "in": [
            {
                "x": 100,
                "y": 20,
                "wires": [
                    {
                        "id": "a9af9b3101702ddf"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 40,
                "wires": [
                    {
                        "id": "a9af9b3101702ddf",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "loop",
            "version": "1.0",
            "license": "MIT"
        },
        "color": "#87A980",
        "icon": "font-awesome/fa-repeat"
    },
    {
        "id": "87e8abe0d5a373ba",
        "type": "subflow",
        "name": "enviarWhats",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "752027b4fbcffc2f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 20,
                "wires": [
                    {
                        "id": "383ca12f70d2c318",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "802fbef1732e8f2c",
        "type": "subflow",
        "name": "WhatsApp Z",
        "info": "{\r\n    telefone:telefone\r\n    mensagem:mensagem\r\n}\r\n",
        "category": "customizados",
        "in": [
            {
                "x": 100,
                "y": 40,
                "wires": [
                    {
                        "id": "336d3e6747a82479"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {
            "license": "MIT"
        },
        "color": "#87A980",
        "icon": "node-red/comment.svg"
    },
    {
        "id": "121811ea9088c88f",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "283d7f5c308d86ef",
        "type": "group",
        "z": "a2725fd03b335afd",
        "name": "Notificação WhatsApp",
        "style": {
            "label": true
        },
        "nodes": [
            "84ee735e126a15b9",
            "609bbe51d5263aa0",
            "f41171488d199103",
            "edc847f87c02b0a1",
            "e4c8b1d736e80953",
            "2de92045b6dc13c0",
            "6fdc385bcae0116a",
            "28c1b6278e80ee24",
            "ab1ca7a7e59a3ae8",
            "59a3d318fda6095f",
            "fd56f08f88fb2cd5",
            "a247af8d2be0a7b9",
            "0c33db4cf3a06fca",
            "fe4f1d0d50dcf189",
            "010065b6aef1be57",
            "dcba2c9f2a19bac5",
            "a57f3511a3fc40dd",
            "5f723825dbdd467b",
            "096b67e27a724b5b",
            "2f14492f53a2bafd",
            "c05c78a0251faa5e",
            "93eb87001adad7ff",
            "12e305fed0d4d28b",
            "9750b60d1044d9eb",
            "58a2871758d29cab",
            "5b4ea606cc34214e",
            "b7be0a53b155c67b",
            "10893b64fd9f90c5",
            "384a4eb87cfbb6b0",
            "474b3540e2a34ab0",
            "6a80b67fa93f0fac",
            "b1db0fc5a416b1c2",
            "1c14750d45bcc151",
            "8af7751466cc28b2",
            "4a210937782ddb50",
            "4f801b76368e751d",
            "88de4b120624e756",
            "d4e14fe2f0eec73e",
            "eeff24287b765ed5",
            "f2daecf12dc2cac9",
            "7bb2025d05e0f3d3"
        ],
        "x": 14,
        "y": 499,
        "w": 2612,
        "h": 682
    },
    {
        "id": "64cee126698f8cf4",
        "type": "group",
        "z": "a2725fd03b335afd",
        "name": "Maratona Bíblica Porções Diárias",
        "style": {
            "label": true
        },
        "nodes": [
            "aa8237bacc96aeec",
            "cce4a8c95574209a",
            "dcaf222c2b24a800",
            "87c3b2917a6f5a44",
            "5af0171631043e30"
        ],
        "x": 14,
        "y": 299,
        "w": 772,
        "h": 182
    },
    {
        "id": "92223985e4aa415a",
        "type": "group",
        "z": "a2725fd03b335afd",
        "name": "Maratona Bíblica IBLN",
        "style": {
            "label": true
        },
        "nodes": [
            "d50afac01bf81d2e",
            "d03439f5d92c41c9",
            "d782800fb918595b",
            "021a7561faa8d26c",
            "9f91fe9edf0c6adf"
        ],
        "x": 834,
        "y": 299,
        "w": 892,
        "h": 182
    },
    {
        "id": "7725df2066a0d1ef",
        "type": "group",
        "z": "a2725fd03b335afd",
        "name": "Envio de notificação de  aniversariantes para lideres",
        "style": {
            "label": true
        },
        "nodes": [
            "dad2ce5b68fdd41f",
            "18964c677841c0b8",
            "185b52f54c48fe96",
            "33ce778f5149cc1e",
            "c1595118259cef0d",
            "d893e85f6cd1effb",
            "726574f781a9702b",
            "7acd237d61d2264b",
            "ddfb99eb2ce7642a",
            "1cdd8bbf0474a000",
            "9fba03029854fc51",
            "bb2a4bf339e17251"
        ],
        "x": 14,
        "y": -1,
        "w": 1652,
        "h": 222
    },
    {
        "id": "1bc08ef901d52d8f",
        "type": "group",
        "z": "e7f7c24acc134af9",
        "name": "Verifica Serviços dos Clientes",
        "style": {
            "label": true,
            "stroke": "#ff0000",
            "fill": "#e3f3d3",
            "fill-opacity": "0.88",
            "stroke-opacity": "0",
            "color": "#ff0000"
        },
        "nodes": [
            "5090ed6b299a994f",
            "efc77ba7e9089259",
            "6e595ca51016f170",
            "5372e1b75cbee5ce",
            "6d8a269c6872083d",
            "edf8b9cfa82a7d8a",
            "03bda5979bfb2cb4",
            "192e0c02f118696c",
            "a7645a82344f2091",
            "cb4f8595e3642cc2",
            "1beea120f0be8047",
            "82633872ed93dd42",
            "fa74f2a8c990cc62",
            "2878954757031c1c",
            "cfcf04d6d23f64c4"
        ],
        "x": 34,
        "y": 59,
        "w": 1692,
        "h": 282
    },
    {
        "id": "ccdf4d4c7440eb32",
        "type": "group",
        "z": "e7f7c24acc134af9",
        "name": "Serviço Aniversariantes",
        "style": {
            "label": true
        },
        "nodes": [
            "d05b69465135e287",
            "a6636dba9c6c1ddc",
            "5f37b0a6834626e6",
            "fe8fea93e2301462",
            "5313f66be081a008",
            "e27fa3eee0c36b9f",
            "7fbb421b60a6daca",
            "f159bd4fde5e33c3",
            "1a37d8ee47b82649",
            "cf335837822b4a50",
            "f95905a8e4875d92",
            "6aeb4dd9764e4105",
            "9187e01702cb8929",
            "ddbe18a024c714bd"
        ],
        "x": 34,
        "y": 379,
        "w": 1952,
        "h": 142
    },
    {
        "id": "807c7f127df3e5d0",
        "type": "group",
        "z": "e7f7c24acc134af9",
        "name": "Serviço Notificações Personalizadas",
        "style": {
            "label": true
        },
        "nodes": [
            "4a1246542845e1f1",
            "74e4c7d4744a515c",
            "e55dcd0dc546dac8",
            "187968243dbd8153",
            "d939653c45ca1600",
            "ce4243baaf14e0cc",
            "b98cc64c51868f63",
            "5b681e66b95ab316",
            "6eb51119c3396d84",
            "125e9f102a57eead",
            "226c61ad26e0fd4e",
            "9e267a04767e77d5",
            "83794e76069eafe7",
            "57862754534776a2"
        ],
        "x": 34,
        "y": 779,
        "w": 2152,
        "h": 122
    },
    {
        "id": "cd48d0c3ebd80200",
        "type": "group",
        "z": "e7f7c24acc134af9",
        "name": "Serviço Devocionais Diarios",
        "style": {
            "label": true
        },
        "nodes": [
            "9c5ed1e74182534b",
            "a49bdfcd167c069f",
            "fd638fed21a6254d",
            "7a1780cf828a692b",
            "b5a63e9b92d848b3",
            "a79058958c47e415",
            "060a86600ac02e9d",
            "fdacac31e2576f4c",
            "94220772492cb06b",
            "0bcdab4428f6b7a0",
            "b2a3f97473cea794",
            "da249b81427a2dee"
        ],
        "x": 34,
        "y": 919,
        "w": 1752,
        "h": 142
    },
    {
        "id": "258b7a9d543e1f84",
        "type": "group",
        "z": "e7f7c24acc134af9",
        "name": "Procura Grupos",
        "style": {
            "label": true
        },
        "nodes": [
            "5e1ef3f0d44bc35b",
            "8517fb01601eea67",
            "fb896aa9e8dc0367",
            "236e1aeb049617a6",
            "c529d35885b3c64e"
        ],
        "x": 34,
        "y": 1119,
        "w": 1032,
        "h": 142
    },
    {
        "id": "d3573b12d22be78e",
        "type": "group",
        "z": "e7f7c24acc134af9",
        "name": "Serviço Aniversariantes Grupo",
        "style": {
            "label": true
        },
        "nodes": [
            "0298a6d8adb497ba",
            "ae16e7847e9a7467",
            "3c9ed41de1afa35b",
            "093a185b300d6337",
            "7054600e9aca379a",
            "d99e835fa25e9332",
            "e6b31a325124d52d",
            "e720e3a966fcbda9",
            "bb4253d2f35c93a7",
            "6b9374a52cc8fbd8",
            "482b8163d0a0130f",
            "5605f0d59ee7d6f7",
            "db150f5ea512a519",
            "9f18b852c9cdc1b9",
            "94883a50c74925c8"
        ],
        "x": 34,
        "y": 539,
        "w": 1812,
        "h": 202
    },
    {
        "id": "679beb5b15e32c6d",
        "type": "group",
        "z": "b1c0f3e5e3128179",
        "name": "Envio de mensagens Ana",
        "style": {
            "label": true
        },
        "nodes": [
            "6598ca5232de0946",
            "26450c8e92ee13c7",
            "e7fbde499c85c6ee",
            "e7af54e39c93e04a",
            "1596b145857284d1",
            "25fca76f9d8ced9a",
            "8f0e73398b7ec74d"
        ],
        "x": 34,
        "y": 39,
        "w": 1052,
        "h": 242
    },
    {
        "id": "7ba9954bb2613bfd",
        "type": "group",
        "z": "b1c0f3e5e3128179",
        "name": "Envio de mensagens Graça",
        "style": {
            "label": true
        },
        "nodes": [
            "ada0b16cfcf8946d",
            "ff6eadb839a4c0f8",
            "4263315fc498c4f2",
            "6cdefd3f476c4311",
            "a0381c43221746df",
            "8fcc4dc6fbe2967e",
            "f71255e6b633f830",
            "ea4b916f5ea969a6",
            "27c79243dc95f0b7"
        ],
        "x": 34,
        "y": 299,
        "w": 1052,
        "h": 302
    },
    {
        "id": "5d22c29d083b65f0",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "dbhost",
                "value": "ana-prod.chxiodtgwmob.us-east-1.rds.amazonaws.com",
                "type": "str"
            },
            {
                "name": "NHOST",
                "value": "ana-prod.chxiodtgwmob.us-east-1.rds.amazonaws.com",
                "type": "str"
            },
            {
                "name": "NPORT",
                "value": "3306",
                "type": "str"
            },
            {
                "name": "NPASSWDB",
                "value": "bCqqq6KNcjIgDkGF8GT0",
                "type": "str"
            },
            {
                "name": "NDB",
                "value": "ananotification",
                "type": "str"
            },
            {
                "name": "NPROJECTID",
                "value": "graca-producao-kqqw",
                "type": "str"
            },
            {
                "name": "NUSERDB",
                "value": "anaprod",
                "type": "str"
            },
            {
                "name": "WHATSHTOKEN",
                "value": "Faa0e9483d732404fb38ebe88909bd19cS",
                "type": "str"
            },
            {
                "name": "WHATSTOKEN",
                "value": "CE0B50743BD6CEA17C77CCC8",
                "type": "str"
            },
            {
                "name": "WHATSINSTACE",
                "value": "3CC085CFD2EE505D7A4C8ABF5D20188A",
                "type": "str"
            }
        ]
    },
    {
        "id": "36dbdd52d4fc31f0",
        "type": "MySQLdatabase",
        "name": "ananotification",
        "host": "${NHOST}",
        "port": "${NPORT}",
        "db": "${NDB}",
        "tz": "America/Sao_Paulo",
        "charset": "UTF8"
    },
    {
        "id": "1ffe3ac668eeca60",
        "type": "MySQLdatabase",
        "name": "iblnnotification",
        "host": "${NHOST}",
        "port": "${NPORT}",
        "db": "iblnnotification",
        "tz": "America/Sao_Paulo",
        "charset": "UTF8"
    },
    {
        "id": "93afee9722a74757",
        "type": "gauth",
        "name": "742665231803-compute@developer.gserviceaccount.com"
    },
    {
        "id": "a9af9b3101702ddf",
        "type": "function",
        "z": "3ed13a0582858ba0",
        "name": "function 1",
        "func": "var item = msg.payload.pop();\n\n\nif (item) {\n    return [{\n        registros:msg.registros,\n        payload: item\n    }, msg];\n\n} else {\n    return [null, null];\n\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 100,
        "wires": [
            [],
            [
                "89990390c0af528b"
            ]
        ]
    },
    {
        "id": "89990390c0af528b",
        "type": "delay",
        "z": "3ed13a0582858ba0",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "a9af9b3101702ddf"
            ]
        ]
    },
    {
        "id": "9e10a0a7daa0f613",
        "type": "function",
        "z": "87e8abe0d5a373ba",
        "name": "preparacao",
        "func": "\n\nreturn {\n    url: \"https://api.z-api.io/instances/\" + env.get(\"WHATSINSTACE\") + \"/token/\" + env.get(\"WHATSTOKEN\") +\"/send-text\",\n    method:\"POST\",\n    headers : {\n        \"Client-Token\": env.get(\"WHATSHTOKEN\")\n    },\n    payload:{\n        \"phone\": msg.telefone,\n        \"message\": msg.mensagem,\n    }\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 60,
        "wires": [
            [
                "383ca12f70d2c318"
            ]
        ]
    },
    {
        "id": "d875546f8ad266a2",
        "type": "debug",
        "z": "87e8abe0d5a373ba",
        "name": "saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "752027b4fbcffc2f",
        "type": "switch",
        "z": "87e8abe0d5a373ba",
        "name": "",
        "property": "tipo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "texto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "9e10a0a7daa0f613"
            ]
        ]
    },
    {
        "id": "383ca12f70d2c318",
        "type": "www-request",
        "z": "87e8abe0d5a373ba",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 550,
        "y": 60,
        "wires": [
            [
                "d875546f8ad266a2"
            ]
        ]
    },
    {
        "id": "336d3e6747a82479",
        "type": "function",
        "z": "802fbef1732e8f2c",
        "name": "preparacao",
        "func": "\n\nreturn {\n    url: \"https://api.z-api.io/instances/\" + env.get(\"WHATSINSTACE\") + \"/token/\" + env.get(\"WHATSTOKEN\") +\"/send-text\",\n    method:\"POST\",\n    headers : {\n        \"Client-Token\": env.get(\"WHATSHTOKEN\")\n    },\n    enviado: {\n        \"phone\": msg.payload.telefone,\n        \"message\": msg.payload.mensagem,\n    },\n    payload: msg.payload\n     \n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "d8c591d2054b794d"
            ]
        ]
    },
    {
        "id": "ab9e21716593ffb1",
        "type": "function",
        "z": "802fbef1732e8f2c",
        "name": "Gravar",
        "func": "msg.topic=`\nINSERT INTO mensagem (\n    sessao, \n    destino, \n    mensagem, \n    status, \n    time, \n    identificacao) \nVALUES (\n    :sessao,\n    :destino, \n    :mensagem, \n    :status, \n     current_timestamp(), \n    :identificacao);\n`;\n\n\nmsg.payload= {\n        \"sessao\": JSON.parse(global.get('sessao'))[0].identificacao,\n        \"destino\": JSON.parse(global.get('entrada')).connectedPhone,\n        \"mensagem\": msg.enviado.message,\n        \"status\": \"ENVIADO\",\n       \"identificacao\": msg.payload.messageId\n    }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9886a7e01e2303c2",
        "type": "json",
        "z": "802fbef1732e8f2c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "ab9e21716593ffb1"
            ]
        ]
    },
    {
        "id": "7f67b1c9ff88c5df",
        "type": "debug",
        "z": "802fbef1732e8f2c",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "d8c591d2054b794d",
        "type": "www-request",
        "z": "802fbef1732e8f2c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 430,
        "y": 40,
        "wires": [
            [
                "9886a7e01e2303c2",
                "7f67b1c9ff88c5df"
            ]
        ]
    },
    {
        "id": "5090ed6b299a994f",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "recuperar Clientes",
        "func": "msg.topic=`\nSELECT * FROM fe_admin.clientes;\n`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "efc77ba7e9089259"
            ]
        ]
    },
    {
        "id": "efc77ba7e9089259",
        "type": "mysql",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "6e595ca51016f170"
            ]
        ]
    },
    {
        "id": "6e595ca51016f170",
        "type": "subflow:3ed13a0582858ba0",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "",
        "x": 590,
        "y": 260,
        "wires": [
            [
                "edf8b9cfa82a7d8a"
            ]
        ]
    },
    {
        "id": "5372e1b75cbee5ce",
        "type": "inject",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "5090ed6b299a994f"
            ]
        ]
    },
    {
        "id": "6d8a269c6872083d",
        "type": "cron",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "",
        "crontab": "0 * * * *",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "5090ed6b299a994f"
            ]
        ]
    },
    {
        "id": "edf8b9cfa82a7d8a",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "recuperar serviços do cliente",
        "func": "msg.registros={\n    \"cliente\":msg.payload\n}\n\nmsg.topic=`\nselect cs.id,id_servico from  fe_admin.cliente_servico cs \ninner join fe_admin.clientes c on c.id = cs.id_cliente\nwhere  c.id = :id\nand cs.status =1\n`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 200,
        "wires": [
            [
                "03bda5979bfb2cb4"
            ]
        ]
    },
    {
        "id": "03bda5979bfb2cb4",
        "type": "mysql",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "a7645a82344f2091"
            ]
        ]
    },
    {
        "id": "192e0c02f118696c",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "Distribui Serviço",
        "property": "payload.id_servico",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1240,
        "y": 220,
        "wires": [
            [
                "1beea120f0be8047"
            ],
            [
                "82633872ed93dd42"
            ],
            [
                "fa74f2a8c990cc62"
            ],
            [
                "2878954757031c1c"
            ],
            [
                "cb4f8595e3642cc2"
            ],
            [
                "cfcf04d6d23f64c4"
            ]
        ]
    },
    {
        "id": "a7645a82344f2091",
        "type": "subflow:3ed13a0582858ba0",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "",
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "192e0c02f118696c"
            ]
        ]
    },
    {
        "id": "d05b69465135e287",
        "type": "link in",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "Entrada Aniversariantes",
        "links": [
            "cb4f8595e3642cc2"
        ],
        "x": 75,
        "y": 480,
        "wires": [
            [
                "a6636dba9c6c1ddc"
            ]
        ]
    },
    {
        "id": "a6636dba9c6c1ddc",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "Somente as 6h da manha",
        "func": "var agora = new Date();\nmsg.topic=`\nSELECT \n\tcc.valor, \n\tsc.nome\n    \nFROM fe_admin.clientes_campos cc\ninner join fe_admin.servicos_campos  sc on sc.id = cc.id_servicos_campos\ninner join fe_admin.servicos s on s.id = sc.id_servicos\ninner join fe_admin.cliente_servico cs on cs.id = cc.id_cliente_servico\ninner join fe_admin.clientes c on c.id = cs.id_cliente\nwhere s.id = 9\nand s.status =1\nand cs.id=:id\nand c.id = `+msg.registros.cliente.id+`\n`\n// verifica se está no horario. Esse serviço roda todos os dias as 6h da manhã somente\n\nif(agora.getHours()==6){\n\treturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 420,
        "wires": [
            [
                "5f37b0a6834626e6"
            ]
        ]
    },
    {
        "id": "5f37b0a6834626e6",
        "type": "mysql",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "fe8fea93e2301462"
            ]
        ]
    },
    {
        "id": "fe8fea93e2301462",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "vazio?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "5313f66be081a008"
            ]
        ]
    },
    {
        "id": "5313f66be081a008",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "Trasnformacao",
        "func": " const resultado = {};\n  msg.payload.forEach(item => {\n    resultado[item.nome] = item.valor;\n  });\nmsg.payload = resultado;\nmsg.registros.resultado= resultado\n\n\nmsg.payload=resultado;\nmsg.sheet = resultado.url_google_mensagem.split(\":\")[0];\nmsg.cells = resultado.url_google_mensagem.split(\":\")[1];\n \nif (msg.payload && msg.payload.length !== 0) {\n\n   return msg;\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "e27fa3eee0c36b9f"
            ]
        ]
    },
    {
        "id": "e27fa3eee0c36b9f",
        "type": "GSheet",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 770,
        "y": 420,
        "wires": [
            [
                "7fbb421b60a6daca"
            ]
        ]
    },
    {
        "id": "7fbb421b60a6daca",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "Trasnformacao",
        "func": " \nmsg.registros.mensagem = msg.payload[0][0];\nmsg.sheet = msg.registros.resultado.url_google_aniversariantes.split(\":\")[0];\nmsg.cells = msg.registros.resultado.url_google_aniversariantes.split(\":\")[1];\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 480,
        "wires": [
            [
                "f159bd4fde5e33c3"
            ]
        ]
    },
    {
        "id": "f159bd4fde5e33c3",
        "type": "GSheet",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 1040,
        "y": 420,
        "wires": [
            [
                "1a37d8ee47b82649"
            ]
        ]
    },
    {
        "id": "1a37d8ee47b82649",
        "type": "subflow:3ed13a0582858ba0",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "",
        "x": 1150,
        "y": 480,
        "wires": [
            [
                "cf335837822b4a50"
            ]
        ]
    },
    {
        "id": "cf335837822b4a50",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "removeTitulo",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Nome",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 420,
        "wires": [
            [
                "f95905a8e4875d92"
            ]
        ]
    },
    {
        "id": "f95905a8e4875d92",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "Verifica Data e hora",
        "func": "var dataatual = new Date();\ndataatual.setMinutes(0, 0, 0);\nvar dataRecebida = new Date(msg.payload[2].split(\"/\")[1] + \"/\" + msg.payload[2].split(\"/\")[0] + \"/\" + msg.payload[2].split(\"/\")[2] )\n\n\n\nvar dataatuali = dataatual.getDate() + \"/\" + dataatual.getMonth() ;\nvar datarecebidali = dataRecebida.getDate() + \"/\" + dataRecebida.getMonth() ;\n\n\nif (dataatuali == datarecebidali){\n    return msg;\n}   \n\n\n   \n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 480,
        "wires": [
            [
                "6aeb4dd9764e4105"
            ]
        ]
    },
    {
        "id": "6aeb4dd9764e4105",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n  \"Client-Token\": msg.registros.resultado.WHATSHTOKEN\n}\n\nmsg.url = \"https://api.z-api.io/instances/\" + msg.registros.resultado.WHATSINSTACE + \"/token/\" + msg.registros.resultado.WHATSTOKEN+\"/send-text\";\n\nmsg.payload={\n // \"phone\":\"61992998663\",\n  \"phone\": msg.payload[1],\n    \"message\": msg.registros.mensagem.replace(/{pessoa}/gi,msg.payload[0]) +`\n*_`+msg.registros.cliente.nome+`_*`\n  \n \n}\n\nreturn msg;\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 420,
        "wires": [
            [
                "9187e01702cb8929"
            ]
        ]
    },
    {
        "id": "9187e01702cb8929",
        "type": "www-request",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "Envia WA",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 1760,
        "y": 480,
        "wires": [
            [
                "ddbe18a024c714bd"
            ]
        ]
    },
    {
        "id": "ddbe18a024c714bd",
        "type": "debug",
        "z": "e7f7c24acc134af9",
        "g": "ccdf4d4c7440eb32",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 420,
        "wires": []
    },
    {
        "id": "cb4f8595e3642cc2",
        "type": "link out",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "Notificação Aniversariantes",
        "mode": "link",
        "links": [
            "d05b69465135e287"
        ],
        "x": 1540,
        "y": 260,
        "wires": [],
        "l": true
    },
    {
        "id": "1beea120f0be8047",
        "type": "link out",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "Oracao Fe digital",
        "mode": "link",
        "links": [],
        "x": 1510,
        "y": 100,
        "wires": [],
        "l": true
    },
    {
        "id": "82633872ed93dd42",
        "type": "link out",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "Notificação Grupo Aniversariantes",
        "mode": "link",
        "links": [
            "0298a6d8adb497ba"
        ],
        "x": 1560,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "fa74f2a8c990cc62",
        "type": "link out",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "Relogio Personalizado",
        "mode": "link",
        "links": [],
        "x": 1520,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "2878954757031c1c",
        "type": "link out",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "Devocionais Diarios",
        "mode": "link",
        "links": [
            "fdacac31e2576f4c"
        ],
        "x": 1520,
        "y": 220,
        "wires": [],
        "l": true
    },
    {
        "id": "cfcf04d6d23f64c4",
        "type": "link out",
        "z": "e7f7c24acc134af9",
        "g": "1bc08ef901d52d8f",
        "name": "Notificações Personalizada",
        "mode": "link",
        "links": [
            "57862754534776a2"
        ],
        "x": 1540,
        "y": 300,
        "wires": [],
        "l": true
    },
    {
        "id": "4a1246542845e1f1",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "recuperar Servicos",
        "func": "msg.topic=`\nSELECT \n\tcc.valor, \n\tsc.nome\n    \nFROM fe_admin.clientes_campos cc\ninner join fe_admin.servicos_campos  sc on sc.id = cc.id_servicos_campos\ninner join fe_admin.servicos s on s.id = sc.id_servicos\ninner join fe_admin.cliente_servico cs on cs.id = cc.id_cliente_servico\ninner join fe_admin.clientes c on c.id = cs.id_cliente\nwhere s.id = 12 \nand s.status =1\nand cs.id=:id\nand c.id = `+msg.registros.cliente.id+`\n \n`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 820,
        "wires": [
            [
                "74e4c7d4744a515c"
            ]
        ]
    },
    {
        "id": "74e4c7d4744a515c",
        "type": "mysql",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 400,
        "y": 860,
        "wires": [
            [
                "125e9f102a57eead"
            ]
        ]
    },
    {
        "id": "e55dcd0dc546dac8",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "Trasnformacao",
        "func": " const resultado = {};\n  msg.payload.forEach(item => {\n    resultado[item.nome] = item.valor;\n  });\nmsg.payload = resultado;\n\n\nmsg.registros.resultado = resultado\nmsg.payload=resultado;\nmsg.sheet = resultado.url_google_mensagens.split(\":\")[0];\nmsg.cells = resultado.url_google_mensagens.split(\":\")[1];\n \nif (msg.payload && msg.payload.length !== 0) {\n\n   return msg;\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 860,
        "wires": [
            [
                "187968243dbd8153"
            ]
        ]
    },
    {
        "id": "187968243dbd8153",
        "type": "GSheet",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "",
        "cells": "Mensagem",
        "flatten": false,
        "name": "",
        "x": 870,
        "y": 820,
        "wires": [
            [
                "d939653c45ca1600"
            ]
        ]
    },
    {
        "id": "d939653c45ca1600",
        "type": "subflow:3ed13a0582858ba0",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "",
        "x": 990,
        "y": 860,
        "wires": [
            [
                "226c61ad26e0fd4e"
            ]
        ]
    },
    {
        "id": "ce4243baaf14e0cc",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "Verifica Data e hora",
        "func": "var dataatual = new Date();\ndataatual.setMinutes(0, 0, 0);\nvar dataRecebida = new Date(msg.payload[0].split(\"/\")[1] + \"/\" + msg.payload[0].split(\"/\")[0] + \"/\" + msg.payload[0].split(\"/\")[2] + \" \" + msg.payload[1])\nmsg.registros.mensagem = msg.payload;\n\n\nmsg.sheet = msg.registros.resultado.url_google_contatos.split(\":\")[0];\nmsg.cells = msg.payload[2];\n\n\nif((dataatual.getTime() - dataRecebida.getTime())==0){\n  return msg; \n}   \n  \n \n   \n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 860,
        "wires": [
            [
                "b98cc64c51868f63"
            ]
        ]
    },
    {
        "id": "b98cc64c51868f63",
        "type": "GSheet",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 1510,
        "y": 820,
        "wires": [
            [
                "5b681e66b95ab316"
            ]
        ]
    },
    {
        "id": "5b681e66b95ab316",
        "type": "subflow:3ed13a0582858ba0",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "",
        "x": 1650,
        "y": 860,
        "wires": [
            [
                "6eb51119c3396d84"
            ]
        ]
    },
    {
        "id": "6eb51119c3396d84",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n  \"Client-Token\": msg.registros.resultado.WHATSHTOKEN\n}\n\nmsg.url = \"https://api.z-api.io/instances/\" + msg.registros.resultado.WHATSINSTACE + \"/token/\" + msg.registros.resultado.WHATSTOKEN+\"/send-text\";\n\nmsg.payload={\n // \"phone\":\"61992998663\",\n  \"phone\": msg.payload[2],\n    \"message\": msg.registros.mensagem[3].replace(/{pessoa}/gi,msg.payload[0]) \n  \n \n}\n\nreturn msg;\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1810,
        "y": 820,
        "wires": [
            [
                "9e267a04767e77d5"
            ]
        ]
    },
    {
        "id": "125e9f102a57eead",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "vazio?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 820,
        "wires": [
            [
                "e55dcd0dc546dac8"
            ]
        ]
    },
    {
        "id": "226c61ad26e0fd4e",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "removeTitulo",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 820,
        "wires": [
            [
                "ce4243baaf14e0cc"
            ]
        ]
    },
    {
        "id": "9e267a04767e77d5",
        "type": "www-request",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "Envia WA",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 1960,
        "y": 860,
        "wires": [
            [
                "83794e76069eafe7"
            ]
        ]
    },
    {
        "id": "83794e76069eafe7",
        "type": "debug",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2080,
        "y": 820,
        "wires": []
    },
    {
        "id": "57862754534776a2",
        "type": "link in",
        "z": "e7f7c24acc134af9",
        "g": "807c7f127df3e5d0",
        "name": "Entrada  DEvocionais diarios",
        "links": [
            "cfcf04d6d23f64c4"
        ],
        "x": 75,
        "y": 820,
        "wires": [
            [
                "4a1246542845e1f1"
            ]
        ]
    },
    {
        "id": "9c5ed1e74182534b",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "recuperar Servicos",
        "func": "var agora = new Date();\nmsg.topic=`\nSELECT \n\tcc.valor, \n\tsc.nome\n    \nFROM fe_admin.clientes_campos cc\ninner join fe_admin.servicos_campos  sc on sc.id = cc.id_servicos_campos\ninner join fe_admin.servicos s on s.id = sc.id_servicos\ninner join fe_admin.cliente_servico cs on cs.id = cc.id_cliente_servico\ninner join fe_admin.clientes c on c.id = cs.id_cliente\nwhere s.id = 7 \nand s.status =1\nand cs.id=:id\nand c.id = `+msg.registros.cliente.id+`\n \n`\nif (agora.getHours() == 6) {\n\treturn msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 980,
        "wires": [
            [
                "a49bdfcd167c069f"
            ]
        ]
    },
    {
        "id": "a49bdfcd167c069f",
        "type": "mysql",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "a79058958c47e415"
            ]
        ]
    },
    {
        "id": "fd638fed21a6254d",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "Trasnformacao",
        "func": " const resultado = {};\n  msg.payload.forEach(item => {\n    resultado[item.nome] = item.valor;\n  });\nmsg.payload = resultado;\n\n\nmsg.registros.resultado= resultado\nmsg.payload=resultado;\nmsg.sheet = resultado.url_google_mensagens.split(\":\")[0];\nmsg.cells = resultado.url_google_mensagens.split(\":\")[1];\n \nif (msg.payload && msg.payload.length !== 0) {\n\n   return msg;\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1020,
        "wires": [
            [
                "7a1780cf828a692b"
            ]
        ]
    },
    {
        "id": "7a1780cf828a692b",
        "type": "GSheet",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "",
        "cells": "Mensagem",
        "flatten": false,
        "name": "",
        "x": 870,
        "y": 980,
        "wires": [
            [
                "b5a63e9b92d848b3"
            ]
        ]
    },
    {
        "id": "b5a63e9b92d848b3",
        "type": "subflow:3ed13a0582858ba0",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "",
        "x": 990,
        "y": 1020,
        "wires": [
            [
                "060a86600ac02e9d"
            ]
        ]
    },
    {
        "id": "a79058958c47e415",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "vazio?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 980,
        "wires": [
            [
                "fd638fed21a6254d"
            ]
        ]
    },
    {
        "id": "060a86600ac02e9d",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "removeTitulo",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 980,
        "wires": [
            [
                "94220772492cb06b"
            ]
        ]
    },
    {
        "id": "fdacac31e2576f4c",
        "type": "link in",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "Entrada Notificações Personalidadas",
        "links": [
            "2878954757031c1c"
        ],
        "x": 75,
        "y": 980,
        "wires": [
            [
                "9c5ed1e74182534b"
            ]
        ]
    },
    {
        "id": "5e1ef3f0d44bc35b",
        "type": "www-request",
        "z": "e7f7c24acc134af9",
        "g": "258b7a9d543e1f84",
        "name": "Envia WA",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 620,
        "y": 1220,
        "wires": [
            [
                "fb896aa9e8dc0367"
            ]
        ]
    },
    {
        "id": "8517fb01601eea67",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "258b7a9d543e1f84",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n  \"Client-Token\": \"Faa0e9483d732404fb38ebe88909bd19cS\"\n}\n \nmsg.url= \"https://api.z-api.io/instances/3CC085CFD2EE505D7A4C8ABF5D20188A/token/CE0B50743BD6CEA17C77CCC8/chats?type=group?page=1&pageSize=1000\"\n\n \nreturn msg;\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1160,
        "wires": [
            [
                "5e1ef3f0d44bc35b"
            ]
        ]
    },
    {
        "id": "fb896aa9e8dc0367",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "258b7a9d543e1f84",
        "name": "PreparaPessoas",
        "func": "// Supondo que a entrada seja um array de objetos\nlet registros = msg.payload;\n\nmsg.nomeBuscado =msg.req.params.grupo;\n\n// Filtra os registros onde isGroup é true\nlet registrosFiltrados = registros.filter(registro => registro.isGroup === true);\nlet nomeBuscado = msg.nomeBuscado;\nlet regex = new RegExp(nomeBuscado, 'i');\nregistrosFiltrados = registrosFiltrados.filter(registro => regex.test(registro.name));\n\n\n\n\n// Define o novo array filtrado como a saída da mensagem\nmsg.payload = registrosFiltrados;\n\n\n \nreturn msg;\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1160,
        "wires": [
            [
                "c529d35885b3c64e"
            ]
        ]
    },
    {
        "id": "236e1aeb049617a6",
        "type": "http in",
        "z": "e7f7c24acc134af9",
        "g": "258b7a9d543e1f84",
        "name": "",
        "url": "/buscagrupo/:grupo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1220,
        "wires": [
            [
                "8517fb01601eea67"
            ]
        ]
    },
    {
        "id": "c529d35885b3c64e",
        "type": "http response",
        "z": "e7f7c24acc134af9",
        "g": "258b7a9d543e1f84",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 1220,
        "wires": []
    },
    {
        "id": "94220772492cb06b",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "Verifica Data e hora",
        "func": "var dataatual = new Date();\ndataatual.setMinutes(0, 0, 0);\nvar dataRecebida = new Date(msg.payload[0].split(\"/\")[1] + \"/\" + msg.payload[0].split(\"/\")[0] + \"/\" + msg.payload[0].split(\"/\")[2] )\nmsg.registros.mensagem = msg.payload;\n\n\nvar dataatuali = dataatual.getDate() + \"/\" + dataatual.getMonth() ;\nvar datarecebidali = dataRecebida.getDate() + \"/\" + dataRecebida.getMonth() ;\n\n\nif (dataatuali == datarecebidali){\n    return msg;\n}   \n\n\n   \n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1020,
        "wires": [
            [
                "0bcdab4428f6b7a0"
            ]
        ]
    },
    {
        "id": "0bcdab4428f6b7a0",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n  \"Client-Token\": msg.registros.resultado.WHATSHTOKEN\n}\n\nmsg.url = \"https://api.z-api.io/instances/\" + msg.registros.resultado.WHATSINSTACE + \"/token/\" + msg.registros.resultado.WHATSTOKEN+\"/send-text\";\n\nmsg.payload={\n // \"phone\":\"61992998663\",\n  \"phone\": msg.registros.resultado.grupo_canal_wa,\n  \"message\": msg.payload[1] +`\n*_`+msg.registros.cliente.nome+`_*`\n  \n \n}\n\nreturn msg;\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 960,
        "wires": [
            [
                "b2a3f97473cea794"
            ]
        ]
    },
    {
        "id": "b2a3f97473cea794",
        "type": "www-request",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "Envia WA",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 1560,
        "y": 1020,
        "wires": [
            [
                "da249b81427a2dee"
            ]
        ]
    },
    {
        "id": "da249b81427a2dee",
        "type": "debug",
        "z": "e7f7c24acc134af9",
        "g": "cd48d0c3ebd80200",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 960,
        "wires": []
    },
    {
        "id": "0298a6d8adb497ba",
        "type": "link in",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "Entrada Aniversariantes",
        "links": [
            "82633872ed93dd42"
        ],
        "x": 75,
        "y": 640,
        "wires": [
            [
                "ae16e7847e9a7467"
            ]
        ]
    },
    {
        "id": "ae16e7847e9a7467",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "Somente as 6h da manha",
        "func": "var agora = new Date();\nmsg.topic=`\nSELECT \n\tcc.valor, \n\tsc.nome\n    \nFROM fe_admin.clientes_campos cc\ninner join fe_admin.servicos_campos  sc on sc.id = cc.id_servicos_campos\ninner join fe_admin.servicos s on s.id = sc.id_servicos\ninner join fe_admin.cliente_servico cs on cs.id = cc.id_cliente_servico\ninner join fe_admin.clientes c on c.id = cs.id_cliente\nwhere s.id = 4\nand s.status =1\nand cs.id=:id\nand c.id = `+msg.registros.cliente.id+`\n`\n// verifica se está no horario. Esse serviço roda todos os dias as 6h da manhã somente\n\nif(agora.getHours()==6){\n\treturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 580,
        "wires": [
            [
                "3c9ed41de1afa35b"
            ]
        ]
    },
    {
        "id": "3c9ed41de1afa35b",
        "type": "mysql",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 380,
        "y": 640,
        "wires": [
            [
                "093a185b300d6337"
            ]
        ]
    },
    {
        "id": "093a185b300d6337",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "vazio?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 480,
        "y": 580,
        "wires": [
            [
                "7054600e9aca379a"
            ]
        ]
    },
    {
        "id": "7054600e9aca379a",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "Trasnformacao",
        "func": " const resultado = {};\n  msg.payload.forEach(item => {\n    resultado[item.nome] = item.valor;\n  });\nmsg.payload = resultado;\nmsg.registros.resultado= resultado\n\ntry {\n  msg.payload=resultado;\nmsg.sheet = msg.registros.resultado.url_google_aniversariantes.split(\":\")[0];\nmsg.cells = msg.registros.resultado.url_google_aniversariantes.split(\":\")[1];\n \nif (msg.payload && msg.payload.length !== 0) {\n\n   return msg;\n\n}\n} catch (error) {\n  \n};\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 640,
        "wires": [
            [
                "d99e835fa25e9332"
            ]
        ]
    },
    {
        "id": "d99e835fa25e9332",
        "type": "GSheet",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "9f18b852c9cdc1b9",
                "94883a50c74925c8"
            ]
        ]
    },
    {
        "id": "e6b31a325124d52d",
        "type": "subflow:3ed13a0582858ba0",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "",
        "x": 970,
        "y": 680,
        "wires": [
            [
                "e720e3a966fcbda9"
            ]
        ]
    },
    {
        "id": "e720e3a966fcbda9",
        "type": "switch",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "removeTitulo",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Nome",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "bb4253d2f35c93a7"
            ]
        ]
    },
    {
        "id": "bb4253d2f35c93a7",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "Verifica Data e hora",
        "func": "var dataatual = new Date();\ndataatual.setMinutes(0, 0, 0);\n\ntry {\n    var dataRecebida = new Date(msg.payload[2].split(\"/\")[1] + \"/\" + msg.payload[2].split(\"/\")[0] + \"/\" + msg.payload[2].split(\"/\")[2] )\n\n} catch (error) {\n\n    var dataRecebida = new Date(\"0/0/0\")\n\n};\n\n\n\n\nvar dataatuali = dataatual.getDate() + \"/\" + dataatual.getMonth() ;\nvar datarecebidali = dataRecebida.getDate() + \"/\" + dataRecebida.getMonth() ;\n\n\nif (dataatuali == datarecebidali){\n    return msg;\n}   \n\n\n   \n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 680,
        "wires": [
            [
                "6b9374a52cc8fbd8"
            ]
        ]
    },
    {
        "id": "6b9374a52cc8fbd8",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n  \"Client-Token\": msg.registros.resultado.WHATSHTOKEN\n}\n\nmsg.url = \"https://api.z-api.io/instances/\" + msg.registros.resultado.WHATSINSTACE + \"/token/\" + msg.registros.resultado.WHATSTOKEN + \"/send-text\";\n\nmsg.payload = {\n  // \"phone\":\"61992998663\",\n  \"phone\": msg.registros.resultado.grupo_canal_wa,\n  \"message\": `*`+ msg.payload[0] + `*\ntelefone: `+msg.payload[1]+`\nemail:`+msg.payload[3]+`\n\n*_`+ msg.registros.cliente.nome + `_*`\n\n\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "482b8163d0a0130f"
            ]
        ]
    },
    {
        "id": "482b8163d0a0130f",
        "type": "www-request",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "Envia WA",
        "method": "POST",
        "ret": "obj",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 1580,
        "y": 600,
        "wires": [
            [
                "5605f0d59ee7d6f7"
            ]
        ]
    },
    {
        "id": "5605f0d59ee7d6f7",
        "type": "debug",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1740,
        "y": 600,
        "wires": []
    },
    {
        "id": "db150f5ea512a519",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "delay",
        "func": "msg.delay=0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 700,
        "wires": [
            [
                "e6b31a325124d52d"
            ]
        ]
    },
    {
        "id": "9f18b852c9cdc1b9",
        "type": "function",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "PreparaInicio",
        "func": "function countBirthdaysToday(payload) {\n    const today = new Date();\n    const todayDay = today.getDate();\n    const todayMonth = today.getMonth() + 1; // Months are zero-based in JavaScript\ntry {\n  return payload.reduce((count, record) => {\n        const [name, cpf, birthday, email] = record;\n        const [day, month, year] = birthday.split('/').map(Number);\n        if (day === todayDay && month === todayMonth) {\n            count++;\n        }\n        return count;\n    }, 0);\n} catch (error) {\n  return 0;\n};\n\n}\n\nconst result = countBirthdaysToday(msg.payload);\n\n\nmsg.headers = {\n  \"Client-Token\": msg.registros.resultado.WHATSHTOKEN\n}\n\nmsg.url = \"https://api.z-api.io/instances/\" + msg.registros.resultado.WHATSINSTACE + \"/token/\" + msg.registros.resultado.WHATSTOKEN + \"/send-text\";\n\nif(result>0){\nmsg.payload = {\n  // \"phone\":\"61992998663\",\n  \"phone\": msg.registros.resultado.grupo_canal_wa,\n  \"message\": `Bom dia, vamos começar o dia dando os parabéns?\nHoje temos ${result} aniversariantes.\n  \n*_`+ msg.registros.cliente.nome + `_*`\n\n\n}\n}else{\n\nmsg.payload = {\n  // \"phone\":\"61992998663\",\n  \"phone\": msg.registros.resultado.grupo_canal_wa,\n  \"message\": `Bom dia, Hoje não temos aniversariantes!\n  \n*_`+ msg.registros.cliente.nome + `_*`\n\n\n}\n\n}\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 580,
        "wires": [
            [
                "482b8163d0a0130f"
            ]
        ]
    },
    {
        "id": "94883a50c74925c8",
        "type": "delay",
        "z": "e7f7c24acc134af9",
        "g": "d3573b12d22be78e",
        "name": "1s",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 640,
        "wires": [
            [
                "db150f5ea512a519"
            ]
        ]
    },
    {
        "id": "605a1aa848cb6044",
        "type": "function",
        "z": "a2725fd03b335afd",
        "name": "loop",
        "func": "\nvar item = msg.payload.pop();\n\nif (item) {\n    return [{\n        payload: item,\n        mensagem: msg.mensagem,\n        relogio:msg.relogio\n    }, msg];\n    \n }else{   \n        return [null, null];   \n    \n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 840,
        "wires": [
            [
                "4f801b76368e751d"
            ],
            [
                "b1db0fc5a416b1c2"
            ]
        ]
    },
    {
        "id": "331f1b3f878315c0",
        "type": "inject",
        "z": "a2725fd03b335afd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "d50afac01bf81d2e"
            ]
        ]
    },
    {
        "id": "09e02c28c9859c99",
        "type": "inject",
        "z": "a2725fd03b335afd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "aa8237bacc96aeec"
            ]
        ]
    },
    {
        "id": "84ee735e126a15b9",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Pesquisa mensagem do dia",
        "func": "msg.topic=`\nSET time_zone='America/Sao_Paulo';\nSELECT * FROM mensagens\nwhere DATE(data) =DATE(NOW()) \nand HOUR(data) =HOUR(NOW())`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 540,
        "wires": [
            [
                "609bbe51d5263aa0"
            ]
        ]
    },
    {
        "id": "f41171488d199103",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Pesquisa pessoas",
        "func": "// Preparação da menssagem\n\nif (msg.payload.length==0){\n    msg.mensagem =[];\n  msg.mensagem.texto=`\n  Oi Sou a Ana.\n  Estou aqui para te lembrar do propósito de oração.\n  `;\n}else{\n    msg.mensagem= msg.payload;\n}\n//preparação para identificação de pessoas\n\nmsg.topic=`\nSET time_zone='America/Sao_Paulo';\nselect p.nome,p.email,p.telefone, concat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) as agora from horarios as h \ninner join pessoas p on h.id_pessoa = p.id\ninner join relogios r on r.id = h.id_relogio\nwhere h.notifica =1 and \n\nconcat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) = h.horario\nand date(r.data_fim)>=date(now())\nand date(r.data_inicio)<= date(now())\nand r.status = 1\nand r.id =`+ msg.payload.id_relogio\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 540,
        "wires": [
            [
                "edc847f87c02b0a1"
            ]
        ]
    },
    {
        "id": "e4c8b1d736e80953",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n    \"Client-Token\": \"Faa0e9483d732404fb38ebe88909bd19cS\"\n}\nmsg.payload={\n  // \"phone\":\"61992998663\",\n   \"phone\": msg.payload.telefone.replace(\"(\",\"\").replace(\")\",\"\").replace(\"-\",\"\").replace(/\\ /gi,\"\"),\n   \"message\": global.get(\"mensagem\").texto.replace(/{pessoa}/gi, msg.payload.nome.split(\" \")[0])\n}\n\n\n\nreturn msg;\n \n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 540,
        "wires": [
            [
                "2de92045b6dc13c0"
            ]
        ]
    },
    {
        "id": "6fdc385bcae0116a",
        "type": "debug",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 540,
        "wires": []
    },
    {
        "id": "28c1b6278e80ee24",
        "type": "delay",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "84ee735e126a15b9"
            ]
        ]
    },
    {
        "id": "59a3d318fda6095f",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Pesquisa relogios ativos",
        "func": "msg.topic=`\nSELECT * FROM relogios\nwhere status = 1`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 820,
        "wires": [
            [
                "fd56f08f88fb2cd5"
            ]
        ]
    },
    {
        "id": "a247af8d2be0a7b9",
        "type": "inject",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 720,
        "wires": [
            [
                "28c1b6278e80ee24"
            ]
        ]
    },
    {
        "id": "0c33db4cf3a06fca",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "repeat",
        "func": "\nvar item = msg.payload.pop();\n\nif (item) {\n    return [{\n        payload: item,\n    }, msg];\n    \n }else{   \n        return [null, null];   \n    \n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 900,
        "wires": [
            [
                "12e305fed0d4d28b"
            ],
            [
                "fe4f1d0d50dcf189"
            ]
        ]
    },
    {
        "id": "fe4f1d0d50dcf189",
        "type": "delay",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "20",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "0c33db4cf3a06fca"
            ]
        ]
    },
    {
        "id": "010065b6aef1be57",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "1- meia hora",
        "func": "msg.topic=`\n\nselect h.*,p.*, concat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) as agora from horarios as h \ninner join pessoas p on h.id_pessoa = p.id\ninner join relogios r on r.id = h.id_relogio\nwhere h.notifica =1 and \n\nconcat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) = h.horario\nand date(r.data_fim)>=date(now())\nand date(r.data_inicio)<= date(now())\nand r.id = :id`;\n\nmsg.payload={\n    id:msg.relogio.id\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 880,
        "wires": [
            [
                "4a210937782ddb50"
            ]
        ]
    },
    {
        "id": "dcba2c9f2a19bac5",
        "type": "switch",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "property": "relogio.tipo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 970,
        "y": 920,
        "wires": [
            [
                "010065b6aef1be57"
            ],
            [
                "a57f3511a3fc40dd"
            ],
            [
                "5f723825dbdd467b"
            ],
            [
                "5b4ea606cc34214e"
            ]
        ]
    },
    {
        "id": "a57f3511a3fc40dd",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "2 - hora",
        "func": "msg.topic=`\n\nselect h.*,p.*, concat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) as agora from horarios as h \ninner join pessoas p on h.id_pessoa = p.id\ninner join relogios r on r.id = h.id_relogio\nwhere h.notifica =1 and \n\nconcat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) = h.horario\nand date(r.data_fim)>=date(now())\nand date(r.data_inicio)<= date(now())\nand r.id = :id`;\n\nmsg.payload={\n    id:msg.relogio.id\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 920,
        "wires": [
            [
                "8af7751466cc28b2"
            ]
        ]
    },
    {
        "id": "5f723825dbdd467b",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "3 - diário",
        "func": "msg.topic=`\nselect h.*,p.*, concat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) as agora\n\n from horarios as h \ninner join pessoas p on h.id_pessoa = p.id\ninner join relogios r on r.id = h.id_relogio\nwhere h.notifica =1 \nand DATE_FORMAT(now(),'%d-%m-%Y') = DATE_FORMAT(str_to_date(horario,'%d-%m-%YYYY'),'%d-%m-%Y') \nand r.id = :id`;\n\nlet d = new Date();\nlet hour = d.getHours();\nlet minutes = d.getMinutes();\n\n\nmsg.payload={\n    id:msg.relogio.id\n}\n\nif(hour==6){\n  if(minutes<30){\n     return msg; \n  }  \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 960,
        "wires": [
            [
                "384a4eb87cfbb6b0"
            ]
        ]
    },
    {
        "id": "2f14492f53a2bafd",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Aluno",
        "func": "msg.headers = {\n    \"Client-Token\": \"Faa0e9483d732404fb38ebe88909bd19cS\"\n}\n\nif(msg.mensagem==\"\"){\n   msg.mensagem =msg.payload.nome.split(\" \")[0]+ `, mensagem para você`;\n}\n\nmsg.payload={\n  \"phone\": msg.payload.telefone.replace(\"(\",\"\").replace(\")\",\"\").replace(\"-\",\"\").replace(/\\ /gi,\"\"),\n  \"message\": msg.mensagem.replace(\"{pessoa}\",msg.payload.nome.split(\" \")[0] )\n}\n\n\n\nreturn msg;\n \n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 820,
        "wires": [
            [
                "c05c78a0251faa5e"
            ]
        ]
    },
    {
        "id": "93eb87001adad7ff",
        "type": "debug",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2520,
        "y": 940,
        "wires": []
    },
    {
        "id": "12e305fed0d4d28b",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Pesquisa mensagens dos relógios",
        "func": "msg.relogio=msg.payload;\n\nmsg.topic=`\nSELECT *  FROM mensagens\nwhere  DATE_FORMAT(data,'%d-%m-%Y') =  DATE_FORMAT(now(),'%d-%m-%Y')\nand id_relogio = :id `;\n\nmsg.payload={\n  id:msg.payload.id  \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 760,
        "wires": [
            [
                "9750b60d1044d9eb"
            ]
        ]
    },
    {
        "id": "58a2871758d29cab",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "preparacao",
        "func": "if(msg.payload[0]){\n   msg.mensagem=msg.payload[0].texto; \n}else{\n   msg.mensagem='';\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 860,
        "wires": [
            [
                "dcba2c9f2a19bac5"
            ]
        ]
    },
    {
        "id": "5b4ea606cc34214e",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "4 - leitura biblica",
        "func": "msg.topic=`\nselect h.*,p.*, concat(\ncase \n\twhen hour(now())<10 then concat('0',hour(now()))\n    when hour(now())>10 then hour(now())\nend\n,\ncase \n\twhen minute(now())>30 then \"30\"\n    when minute(now())=30 then \"30\"\n    when minute(now())<30 then \"00\"\nend\n) as agora\n\n from horarios as h \ninner join pessoas p on h.id_pessoa = p.id\ninner join relogios r on r.id = h.id_relogio\nwhere h.notifica =1 \nand r.id = :id`;\n\nlet d = new Date();\nlet hour = d.getHours();\nlet minutes = d.getMinutes();\n\n\nmsg.payload={\n    id:msg.relogio.id\n}\n\nif(hour==23){\n  if(minutes<30){\n     return msg; \n  }  \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1000,
        "wires": [
            [
                "096b67e27a724b5b"
            ]
        ]
    },
    {
        "id": "b7be0a53b155c67b",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "loop",
        "func": "\nvar item = msg.payload.pop();\n\nif (item) {\n    return [{\n        payload: item,\n        mensagem: msg.mensagem,\n        relogio:msg.relogio\n    }, msg];\n    \n }else{   \n        return [null, null];   \n    \n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 1080,
        "wires": [
            [
                "4f801b76368e751d"
            ],
            [
                "10893b64fd9f90c5"
            ]
        ]
    },
    {
        "id": "10893b64fd9f90c5",
        "type": "delay",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "daley",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "100",
        "randomLast": "1000",
        "randomUnits": "milliseconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1690,
        "y": 1140,
        "wires": [
            [
                "b7be0a53b155c67b"
            ]
        ]
    },
    {
        "id": "474b3540e2a34ab0",
        "type": "delay",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "20",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1690,
        "y": 1040,
        "wires": [
            [
                "6a80b67fa93f0fac"
            ]
        ]
    },
    {
        "id": "6a80b67fa93f0fac",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "loop",
        "func": "\nvar item = msg.payload.pop();\n\nif (item) {\n    return [{\n        payload: item,\n        mensagem: msg.mensagem,\n        relogio:msg.relogio\n    }, msg];\n    \n }else{   \n        return [null, null];   \n    \n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 1000,
        "wires": [
            [
                "4f801b76368e751d"
            ],
            [
                "474b3540e2a34ab0"
            ]
        ]
    },
    {
        "id": "b1db0fc5a416b1c2",
        "type": "delay",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "20",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1690,
        "y": 780,
        "wires": [
            [
                "605a1aa848cb6044"
            ]
        ]
    },
    {
        "id": "1c14750d45bcc151",
        "type": "delay",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "20",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1690,
        "y": 900,
        "wires": [
            [
                "88de4b120624e756"
            ]
        ]
    },
    {
        "id": "4f801b76368e751d",
        "type": "switch",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Notifica?",
        "property": "payload.notifica",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1980,
        "y": 940,
        "wires": [
            [
                "2f14492f53a2bafd"
            ],
            [
                "93eb87001adad7ff"
            ]
        ]
    },
    {
        "id": "88de4b120624e756",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "loop",
        "func": "\nvar item = msg.payload.pop();\n\nif (item) {\n    return [{\n        payload: item,\n        mensagem: msg.mensagem,\n        relogio:msg.relogio\n    }, msg];\n    \n }else{   \n        return [null, null];   \n    \n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 940,
        "wires": [
            [
                "4f801b76368e751d"
            ],
            [
                "1c14750d45bcc151"
            ]
        ]
    },
    {
        "id": "d4e14fe2f0eec73e",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Prepara",
        "func": "\nmsg.payload = msg.payload[1];\nglobal.set(\"mensagem\", msg.mensagem);\nmsg.delay=500;\nreturn msg;\n \n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "eeff24287b765ed5"
            ]
        ]
    },
    {
        "id": "eeff24287b765ed5",
        "type": "subflow:3ed13a0582858ba0",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "e4c8b1d736e80953"
            ]
        ]
    },
    {
        "id": "f2daecf12dc2cac9",
        "type": "subflow:3ed13a0582858ba0",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "x": 730,
        "y": 620,
        "wires": [
            [
                "f41171488d199103"
            ]
        ]
    },
    {
        "id": "7bb2025d05e0f3d3",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "Prepara",
        "func": "\nmsg.payload = msg.payload[1];\nmsg.delay=500;\nreturn msg;\n \n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 540,
        "wires": [
            [
                "f2daecf12dc2cac9"
            ]
        ]
    },
    {
        "id": "aa8237bacc96aeec",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "64cee126698f8cf4",
        "name": "Pesquisa relogios ativos",
        "func": "msg.topic=`\nSELECT *,DATE_FORMAT(data, \"%d/%m\")as data from maratona \nwhere DATE_FORMAT(data, \"%d/%m\")=DATE_FORMAT(now(), \"%d/%m\") ;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 440,
        "wires": [
            [
                "cce4a8c95574209a"
            ]
        ]
    },
    {
        "id": "dcaf222c2b24a800",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "64cee126698f8cf4",
        "name": "Prepara Mensagem",
        "func": "msg.mensagem=`*Porção Bíblica*\nEssa é a porção diária de hoje `+msg.payload[0].data+`:\n`;\nmsg.payload.forEach(function(item){\nmsg.mensagem=msg.mensagem+`\n`+item.descricao+`\n`+item.link+`\n`\n});\n\nmsg.mensagem=msg.mensagem+`\n\nTenha um dia abençoado!!`;\n\n\nmsg.tipo=\"texto\";\nmsg.telefone = \"120363212065169966@newsletter\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "5af0171631043e30"
            ]
        ]
    },
    {
        "id": "5af0171631043e30",
        "type": "subflow:87e8abe0d5a373ba",
        "z": "a2725fd03b335afd",
        "g": "64cee126698f8cf4",
        "name": "",
        "x": 690,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d50afac01bf81d2e",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "92223985e4aa415a",
        "name": "Pesquisa relogios ativos",
        "func": "msg.topic=`\nSELECT *,DATE_FORMAT(data, \"%d/%m\")as data from maratona \nwhere DATE_FORMAT(data, \"%d/%m\")=DATE_FORMAT(now(), \"%d/%m\") ;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "d03439f5d92c41c9"
            ]
        ]
    },
    {
        "id": "d782800fb918595b",
        "type": "subflow:87e8abe0d5a373ba",
        "z": "a2725fd03b335afd",
        "g": "92223985e4aa415a",
        "name": "",
        "x": 1630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "021a7561faa8d26c",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "92223985e4aa415a",
        "name": "Maratona Bíblica IBLN",
        "func": "msg.mensagem=`*Maratona Bíblica*\nReferência Bíblica:\n`+msg.payload[0].descricao+`\n\nLinks de acesso:\n`+ msg.payload[0].link ;\nmsg.mensagem=msg.mensagem+`\n\nTenha um dia abençoado!!`;\n\nmsg.tipo=\"texto\";\nmsg.telefone = \"120363207135681659@newsletter\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 400,
        "wires": [
            [
                "d782800fb918595b"
            ]
        ]
    },
    {
        "id": "dad2ce5b68fdd41f",
        "type": "subflow:802fbef1732e8f2c",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "",
        "x": 1450,
        "y": 180,
        "wires": []
    },
    {
        "id": "18964c677841c0b8",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "function 3",
        "func": "msg.payload={\n  \"phone\": \"120363255890061494-group\",\n  \"image\": msg.payload.data[0].attributes.avatar,\n  \"caption\": `*`+msg.payload.data[0].attributes.first_name+ `*\n\ntelefone:  `+msg.payload.included[1].attributes.number+`\nemail:  `+msg.payload.included[0].attributes.address+`\n  `\n}  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 80,
        "wires": [
            [
                "dad2ce5b68fdd41f",
                "bb2a4bf339e17251"
            ]
        ]
    },
    {
        "id": "185b52f54c48fe96",
        "type": "json",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1130,
        "y": 120,
        "wires": [
            [
                "18964c677841c0b8"
            ]
        ]
    },
    {
        "id": "33ce778f5149cc1e",
        "type": "http request",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "Recupera Aniversantes",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 80,
        "wires": [
            [
                "185b52f54c48fe96"
            ]
        ]
    },
    {
        "id": "c1595118259cef0d",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "prepara chamada ",
        "func": "msg.url=\"https://api.planningcenteronline.com/people/v2/people?where[id]=\"+msg.payload.id+\"&include=emails,phone_numbers,primary_campus\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 140,
        "wires": [
            [
                "33ce778f5149cc1e"
            ]
        ]
    },
    {
        "id": "d893e85f6cd1effb",
        "type": "subflow:3ed13a0582858ba0",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "c1595118259cef0d"
            ]
        ]
    },
    {
        "id": "726574f781a9702b",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "Prepara loop",
        "func": "msg.payload = JSON.parse(msg.payload);\nmsg.payload=msg.payload.included;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "d893e85f6cd1effb",
                "ddfb99eb2ce7642a"
            ]
        ]
    },
    {
        "id": "7acd237d61d2264b",
        "type": "http request",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "Recupera Aniversantes",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.planningcenteronline.com/people/v2/lists/2495295?include=people",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "726574f781a9702b"
            ]
        ]
    },
    {
        "id": "ddfb99eb2ce7642a",
        "type": "function",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "Introdução da mensagem",
        "func": "if(msg.payload.length==1){\n  msg.payload={\n    \"phone\": \"120363255890061494-group\",\n    \"message\": `Bom dia!!!, hoje temos apenas ` + msg.payload.length +` aniversariante!`\n  }  \n}else if(msg.payload.length>1){\nmsg.payload={\n  \"phone\": \"120363255890061494-group\",\n    \"message\": `Bom dia!!!, hoje temos  ` + msg.payload.length +` aniversariantes!`\n  }  \n}else{\nmsg.payload={\n  \"phone\": \"120363255890061494-group\",\n  \"message\": `Bom dia!!!, hoje não temos aniversariantes!`\n} \n}\n\n \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 180,
        "wires": [
            [
                "dad2ce5b68fdd41f"
            ]
        ]
    },
    {
        "id": "1cdd8bbf0474a000",
        "type": "comment",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "120363255890061494-group",
        "info": "",
        "x": 1520,
        "y": 80,
        "wires": []
    },
    {
        "id": "ab1ca7a7e59a3ae8",
        "type": "cron",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "crontab": "1 * * * *",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "28c1b6278e80ee24"
            ]
        ]
    },
    {
        "id": "87c3b2917a6f5a44",
        "type": "cron",
        "z": "a2725fd03b335afd",
        "g": "64cee126698f8cf4",
        "name": "",
        "crontab": "0 6 * * *",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "aa8237bacc96aeec"
            ]
        ]
    },
    {
        "id": "9f91fe9edf0c6adf",
        "type": "cron",
        "z": "a2725fd03b335afd",
        "g": "92223985e4aa415a",
        "name": "",
        "crontab": "0 6 * * *",
        "x": 910,
        "y": 340,
        "wires": [
            [
                "d50afac01bf81d2e"
            ]
        ]
    },
    {
        "id": "9fba03029854fc51",
        "type": "cron",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "",
        "crontab": "0 6 * * * ",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "7acd237d61d2264b"
            ]
        ]
    },
    {
        "id": "609bbe51d5263aa0",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 520,
        "y": 620,
        "wires": [
            [
                "7bb2025d05e0f3d3"
            ]
        ]
    },
    {
        "id": "edc847f87c02b0a1",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 980,
        "y": 620,
        "wires": [
            [
                "d4e14fe2f0eec73e"
            ]
        ]
    },
    {
        "id": "fd56f08f88fb2cd5",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 280,
        "y": 1000,
        "wires": [
            [
                "0c33db4cf3a06fca"
            ]
        ]
    },
    {
        "id": "096b67e27a724b5b",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 1480,
        "y": 1100,
        "wires": [
            [
                "b7be0a53b155c67b"
            ]
        ]
    },
    {
        "id": "9750b60d1044d9eb",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 680,
        "y": 940,
        "wires": [
            [
                "58a2871758d29cab"
            ]
        ]
    },
    {
        "id": "384a4eb87cfbb6b0",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 1480,
        "y": 1000,
        "wires": [
            [
                "6a80b67fa93f0fac"
            ]
        ]
    },
    {
        "id": "8af7751466cc28b2",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 1480,
        "y": 880,
        "wires": [
            [
                "88de4b120624e756"
            ]
        ]
    },
    {
        "id": "4a210937782ddb50",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 1480,
        "y": 780,
        "wires": [
            [
                "605a1aa848cb6044"
            ]
        ]
    },
    {
        "id": "cce4a8c95574209a",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "64cee126698f8cf4",
        "mydb": "36dbdd52d4fc31f0",
        "name": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "dcaf222c2b24a800"
            ]
        ]
    },
    {
        "id": "d03439f5d92c41c9",
        "type": "mysql",
        "z": "a2725fd03b335afd",
        "g": "92223985e4aa415a",
        "mydb": "1ffe3ac668eeca60",
        "name": "",
        "x": 1180,
        "y": 360,
        "wires": [
            [
                "021a7561faa8d26c"
            ]
        ]
    },
    {
        "id": "2de92045b6dc13c0",
        "type": "www-request",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.z-api.io/instances/3C12BCB7DE734032C8B47A066F793C1C/token/67C02D759DF9DEF2A2C7FAAD/send-text",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 1430,
        "y": 620,
        "wires": [
            [
                "6fdc385bcae0116a"
            ]
        ]
    },
    {
        "id": "c05c78a0251faa5e",
        "type": "www-request",
        "z": "a2725fd03b335afd",
        "g": "283d7f5c308d86ef",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.z-api.io/instances/3C12BCB7DE734032C8B47A066F793C1C/token/67C02D759DF9DEF2A2C7FAAD/send-text",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 2330,
        "y": 820,
        "wires": [
            [
                "93eb87001adad7ff"
            ]
        ]
    },
    {
        "id": "bb2a4bf339e17251",
        "type": "debug",
        "z": "a2725fd03b335afd",
        "g": "7725df2066a0d1ef",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 40,
        "wires": []
    },
    {
        "id": "6598ca5232de0946",
        "type": "inject",
        "z": "b1c0f3e5e3128179",
        "g": "679beb5b15e32c6d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "26450c8e92ee13c7",
        "type": "GSheet",
        "z": "b1c0f3e5e3128179",
        "g": "679beb5b15e32c6d",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "1grviqe_duhHNC3LV7bCTf0794zasCoiyo0aWihUevXw",
        "cells": "Coordenadores",
        "flatten": false,
        "name": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "e7fbde499c85c6ee"
            ]
        ]
    },
    {
        "id": "e7fbde499c85c6ee",
        "type": "subflow:3ed13a0582858ba0",
        "z": "b1c0f3e5e3128179",
        "g": "679beb5b15e32c6d",
        "name": "",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "e7af54e39c93e04a",
                "8f0e73398b7ec74d"
            ]
        ]
    },
    {
        "id": "e7af54e39c93e04a",
        "type": "function",
        "z": "b1c0f3e5e3128179",
        "g": "679beb5b15e32c6d",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n    \"Client-Token\": \"Faa0e9483d732404fb38ebe88909bd19cS\"\n}\n\nmsg.payload={\n // \"phone\":\"61992998663\",\n  \"phone\": msg.payload[2].replace(/\\ /gi,\"\"),\n  \"message\": `\n*Boa tarde, `+ msg.payload[0].split(\" \")[0] +`!*\nEsperamos que esteja bem! \n\nCompartilham abaixo um link de uma pasta para que você coloque fotos da sua turma. Você deve procurar a pasta específica da sua turma e colocar as fotos e vídeos: \n\nhttps://drive.google.com/drive/folders/1flGbsR5TQKJDH7b2eDraCNXwbS2WYtkJ?usp=drive_link \n\nOrientações importantes:\n- Escolha as 15 melhores fotos de cada aula. Não exceda este número. \n- As fotos devem estar com uma boa resolução e iluminação. \n* Faça uma foto oficial dos equipantes e coloque neste mesma pasta.\n* Faça fotos de toda turma junto com o instrutor ao final de cada aula. \n- Coloque vídeos das aulas: se possível faça pequenos vídeos (até 10 segundos) de partes de cada aula, os vídeos, preferencialmente devem ser gravados com câmera e no formato horizontal. Caso não tenha esta equipamento, faça alguns vídeos com o celular no formato horizontal e vertical.\n\nMarisa Magalhães \nTime de Comunicação \n\nJuntos, \nPor uma década missionária! 🌏\n`\n}\n/*\nmsg.payload= {\n  \"phone\": msg.payload[2].replace(\"(\",\"\").replace(\")\",\"\").replace(\"-\",\"\").replace(/\\ /gi,\"\"),\n  \"image\": \"https://relogio.fe.digital/img/8fc16657-8e6e-4c7b-885a-0a4ae9b9ccd3\",\n  \"caption\": \"Imagem descritiva\"\n}\n*/\n/*\nmsg.payload = {\n // \"phone\": \"5561992998663\",\n  \"phone\": msg.payload[2].replace(\"(\", \"\").replace(\")\", \"\").replace(\"-\", \"\").replace(/\\ /gi, \"\"),\n  \"image\": \"https://relogio.fe.digital/img/oreconosco\",\n  \"caption\": `\n  *Por Um Movimento de Brasileiro Entre os Povos*\n\n*`+ msg.payload[0].split(\" \")[0] +`*, queremos te convocar para uma jornada de oração com um ousado alvo: Ver 30% dos alunos de Perspectivas indo aos campos sem acesso ao evangelho.\n\nNa próxima *segunda-feira dia 30/09* será o nosso *1° dia Jejum e Oração*. Iniciaremos 00:00 e iremos até 15h. \n\nQueremos te encorajar a dedicar um tempo de jejum e oração, para que o Espírito Santo desperte, mobilize e envie alunos de Perspectivas para povos não alcançados.\n\nEsta será apenas a primeira fase de oração, em breve iremos compartilhar os primeiros passos.\n\nVamos juntos!\nCom Ele, por Ele! \n*Para que todos os povos O adorem* 🌎\n  \n  \n  `\n}\n\n\n*/\nreturn msg;\n \n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 160,
        "wires": [
            [
                "1596b145857284d1"
            ]
        ]
    },
    {
        "id": "1596b145857284d1",
        "type": "www-request",
        "z": "b1c0f3e5e3128179",
        "g": "679beb5b15e32c6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.z-api.io/instances/3C12BCB7DE734032C8B47A066F793C1C/token/67C02D759DF9DEF2A2C7FAAD/send-text",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "25fca76f9d8ced9a"
            ]
        ]
    },
    {
        "id": "25fca76f9d8ced9a",
        "type": "debug",
        "z": "b1c0f3e5e3128179",
        "g": "679beb5b15e32c6d",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "8f0e73398b7ec74d",
        "type": "debug",
        "z": "b1c0f3e5e3128179",
        "g": "679beb5b15e32c6d",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "ada0b16cfcf8946d",
        "type": "inject",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ff6eadb839a4c0f8",
        "type": "GSheet",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "creds": "93afee9722a74757",
        "method": "get",
        "action": "",
        "sheet": "1ccfBaQuy3VNoYaUSDkzlQgQ3_-QusrGgofEwSVYESS8",
        "cells": "Plan1",
        "flatten": false,
        "name": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "4263315fc498c4f2"
            ]
        ]
    },
    {
        "id": "4263315fc498c4f2",
        "type": "subflow:3ed13a0582858ba0",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "27c79243dc95f0b7",
                "6cdefd3f476c4311"
            ]
        ]
    },
    {
        "id": "6cdefd3f476c4311",
        "type": "function",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n    \"Client-Token\": \"Faa0e9483d732404fb38ebe88909bd19cS\"\n}\nmsg.payload={\n  //\"phone\":\"61992998663\",\n  \"phone\": msg.payload[1],\n   \"message\": `🎉 *Festa das Regiões 2024* 🎉\n\nOlá, *`+ msg.payload[0].split(\" \")[0] +`*, nós da Igreja Batista do Lago ficamos muito felizes em te receber na nossa *Festa das Regiões* e aqui vai uma mensagem especial de agradecimento do nosso pastor:`\n}\n\n\n\nreturn msg;\n \n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "a0381c43221746df"
            ]
        ]
    },
    {
        "id": "a0381c43221746df",
        "type": "www-request",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.z-api.io/instances/3CC085CFD2EE505D7A4C8ABF5D20188A/token/CE0B50743BD6CEA17C77CCC8/send-text",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 870,
        "y": 420,
        "wires": [
            [
                "8fcc4dc6fbe2967e"
            ]
        ]
    },
    {
        "id": "8fcc4dc6fbe2967e",
        "type": "debug",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "f71255e6b633f830",
        "type": "function",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "PreparaPessoas",
        "func": "msg.headers = {\n    \"Client-Token\": \"Faa0e9483d732404fb38ebe88909bd19cS\"\n}\nmsg.payload={\n \n  \"video\":\"https://relogio.fe.digital/video/agradecimentos.mp4\",\n\"phone\": msg.payload[1],\n  \"caption\": \"Agradecimento Pastor Hércio\",\n \n\n}\n\n\nreturn msg;\n \n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [
            [
                "ea4b916f5ea969a6"
            ]
        ]
    },
    {
        "id": "ea4b916f5ea969a6",
        "type": "www-request",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.z-api.io/instances/3CC085CFD2EE505D7A4C8ABF5D20188A/token/CE0B50743BD6CEA17C77CCC8/send-text",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 890,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "27c79243dc95f0b7",
        "type": "delay",
        "z": "b1c0f3e5e3128179",
        "g": "7ba9954bb2613bfd",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "f71255e6b633f830"
            ]
        ]
    }
]